.addSpanStyle::before {
    content: '';
    display: inline-block;
    height: 1.1em;
    width: 1.1em;
    background-image: url(https://cdn-icons-png.flaticon.com/512/688/688160.png);
    background-repeat: no-repeat;
    background-size: 1.2em;
    padding: 0 10px 3px 0 ;
    vertical-align: middle;
}
.addSpanStyle {
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: #ddd;
    /*background-color: firebrick;*/
}
.addSpanStyle:hover {
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: #eee;
}
.inputStyle {
    font-size: 1.03em;
    text-align: center;
    background-color: #eee;
    border: none;
    outline: none;
}
